<?xml version="1.0" encoding="utf-8"?>
<manifest package="binar.academy.carlauncher"
          xmlns:android="http://schemas.android.com/apk/res/android">

  <application
      android:allowBackup="true"
      android:icon="@drawable/ic_binar_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">

    <activity
        android:name="binar.academy.carlauncher.MainListActivity"
        android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity
        android:name="binar.academy.carlauncher.animationactivities.NoAnimationActivity"
        android:label="@string/app_name"/>

    <activity
        android:name="binar.academy.carlauncher.animationactivities.LaunchCarValueAnimatorAnimationActivity"
        android:label="@string/app_name"/>

    <activity
        android:name="binar.academy.carlauncher.animationactivities.RotateCarAnimationActivity"
        android:label="@string/app_name"/>

    <activity
        android:name="binar.academy.carlauncher.animationactivities.AccelerateCarAnimationActivity"
        android:label="@string/app_name"/>

    <activity
        android:name="binar.academy.carlauncher.animationactivities.LaunchCarObjectAnimatorAnimationActivity"
        android:label="@string/app_name"/>

    <activity
        android:name="binar.academy.carlauncher.animationactivities.ColorAnimationActivity"
        android:label="@string/app_name"/>

    <activity
        android:name="binar.academy.carlauncher.animationactivities.LaunchAndSpinAnimatorSetAnimationActivity"
        android:label="@string/app_name"/>

    <activity
        android:name="binar.academy.carlauncher.animationactivities.LaunchAndSpinViewPropertyAnimatorAnimationActivity"
        android:label="@string/app_name"/>

    <activity
        android:name="binar.academy.carlauncher.animationactivities.FlyWithLogoAnimationActivity"
        android:label="@string/app_name"/>

    <activity
        android:name="binar.academy.carlauncher.animationactivities.WithListenerAnimationActivity"
        android:label="@string/app_name"/>

    <activity
        android:name="binar.academy.carlauncher.animationactivities.FlyAndBackAnimationActivity"
        android:label="@string/app_name"/>

    <activity
        android:name="binar.academy.carlauncher.animationactivities.XmlAnimationActivity"
        android:label="@string/app_name"/>

  </application>

</manifest>
